@import '../../../../theme/variables.scss';

.avatar_wrap {
  transform: translateY(-50%);
  border: $colorWhite 5px solid;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  position: absolute;
  top:-15px;
}

.avatar_inner {
  color: $colorWhite;
  text-align: center;
  line-height: 160px;
  vertical-align: middle;
  font-size: 50px;
  transform: translateY(-8px);
  cursor: default;
}