@import '../../theme/variables.scss';

.submenu_block {
  width: auto;
  background-color: $colorWhite;
  box-shadow: $shadowSubMenu;
  white-space: nowrap;
}

.submenu_block > * {
  white-space: nowrap;
}
