
@import '../../../../../../../../theme/variables.scss';

.taskDetails_detailsHeaderText {
  margin-top: 20px;
  padding: 15px 15px;
  border: $colorLightGrey 1px solid;
  border-radius: 5px;
  display: flex;
  align-items: center;
  &.taskDetails_detailsHeaderText__active {
    border-radius: 5px 5px 0 0;
  }
  &:hover {
    background-color: $colorLightGrey;
  }
  &:active {
    background-color: $colorHoverBlue;
    border: $colorSecondary;
    color: $colorSecondary;
    border: $colorLightGrey 1px solid;
  }
}

.taskDetails_currentStatusUl {
  padding-bottom: 20px;
}

.taskDetails_detailsHeaderText__bold {
  font-weight: 600;
  margin-right: 30px;
  position: relative;
}

.taskDetails_detailsArrow {
  margin-left: auto;
  transition: 200ms all ease-in;
  &.taskDetails_detailsArrow__active {
    transform: rotatez(180deg);
  }
}

.pin {
  position: absolute;
  right: -20px;
  transform: translateX(-40px);
  &:hover {
    fill: orange;
  }
}

.details_listBlock {
  border: $colorLightGrey 1px solid;
  display: none;
  &.visible {
    display: block;
  }
  &:last-child {
    padding-bottom: 20px;
  }
}