@import '../../../../../../../../theme/variables.scss';

.details_ListItem, .details_ListItem > * {
  display: flex;
  align-items: center;
  cursor: default;
}

.details_ListItem {
  margin-top: 15px;
  padding-left: 20px;

  &:hover {
    .pin {
      visibility: visible;
      opacity: 1;
    }
  }
}
.details_listItemCol__left {
  width: 100px;
}

.details_listRow {
  margin-top: 20px;
}

.details_userIconDiv {
  padding: 5px;
  border-radius: 50%;
  background-color: blueviolet;
  margin-right: 10px;
}

.pin {
  padding-left: 5px;
  width: 20px;
  height: 20px;
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
  transition: 200ms all ease-in;
  &:hover {
    fill: orange;
  }
}
