@import '../../../../../theme/variables';

.Tasks {
  margin-top: 30px;
  padding: 0 40px;

  @media screen and (max-width: $mediaMobile) {
    padding: 0 15px;
  }
}

.Content {
  margin-top: 15px;
}

.Tabs {
  position: relative;
  display: flex;
  gap: 15px;
  list-style: none;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $colorTaskTabsAfterBackground;
  }
}

.TabsItem {
  padding: 8px 0;
  font-size: 14px;
  font-weight: 500;
  color: $colorTaskTabText;
  cursor: pointer;

  &:hover {
    color: $colorTaskTabTextHover;
  }
}

.TabsItem[data-is-active='true'] {
  position: relative;
  color: $colorTaskTabTextHover;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 2px;
    background: $colorTaskTabTextHover;
  }
}
