@import '../../../../../theme/variables';

.Form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media screen and (max-width: $mediaMobile) {
    width: 100%;
  }
}

.Input {
  width: 350px;

  @media screen and (max-width: $mediaMobile) {
    width: 100%;
  }
}

.Fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
}

.Button {
  align-self: flex-start;
}

.form-row {
  display: flex;
}

.form-loader {
  margin-left: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $colorIconDone;
  font-size: 25px;
}

.UserInputContainer {
  position: relative;
}

.UserInput {
  padding: 14px 10px 14px 35px;
  cursor: pointer;
}

.SettingsUserAvatar {
  position: absolute;
  top: 50%;
  left: 5px;
  width: 26px;
  height: 26px;
  font-size: 12px;
  transform: translateY(-50%);
  cursor: pointer;
}

.SettingsUserAvatarDisabled {
  position: absolute;
  top: 50%;
  left: 5px;
  width: 26px;
  height: 26px;
  font-size: 12px;
  transform: translateY(-50%);
  cursor: default;
}

.SettingsUserIconEmpty {
  left: 3px;
  width: 30px;
  height: 30px;
  color: $colorSecondaryText;
}
