@import '../../../../../theme/variables';

.Form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media screen and (max-width: $mediaMobile) {
    width: 100%;
  }
}

.Input {
  width: 350px;

  @media screen and (max-width: $mediaMobile) {
    width: 100%;
  }
}

.Fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
}

.Button {
  align-self: flex-start;
}
