.TaskItem {
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    background: rgba(9, 30, 66, 0.04);
  }
}

.TaskIcon {
  width: 24px;
  height: 24px;
  color: #4cade8;
}

.Content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.Empty {
  flex: 0 0 40%;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.TitleArea {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.TaskTitle {
  font-size: 14px;
  font-weight: 700;
  color: #172b4d;
}

.ProjectInfo {
  font-size: 11px;
  font-weight: 500;
  color: #6b778c;
}

.Separator {
  padding: 0 7px;

  &:after {
    content: '-';
  }
}

.ProjectColumn {
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  color: #6b778c;
}
