.ProjectCreate {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.Container {
  flex: 0 1 900px;
  max-width: 900px;
  margin: 0 auto;
}

.Row {
  display: flex;
  gap: 60px;
}

.Col {
  width: 40%;
}

.ColRight {
  flex: 1;
}

.Title {
  font-size: 29px;
  font-weight: 700;
  color: #172B4D;
}

.Subtitle {
  margin-top: 8px;
  font-size: 12px;
  font-weight: 500;
  color: #172B4D;
}

.RowBottom {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 24px;
  padding-top: 24px;
  border-top: 1px solid rgba(9,30,66,0.08);
}

.ButtonCancel {
  color: #42526E;
  background: rgba(9, 30, 66, 0.04);

  &:hover {
    background: rgba(9, 30, 66, 0.08);
  }
}
