.user-tasks {
  display: flex;
  flex-direction: column;

  .user-header {
    padding: 10px 15px;
    display: flex;
    align-items: center;

    &__avatar {
      height: 30px;
      width: 30px;
      margin-right: 15px;
    }

    &__tasks {
      margin-left: 15px;
    }
  }

  .column-list {
    display: flex;
  }
}