@import '../../theme/variables.scss';

.profile_wrap {
  width: 100%;
  position: relative;
  color: $colorGreyText;
}

.profile_inner {
  max-width: 900px;
  margin: auto;
  position: relative;

}

.profile_body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.profile_body__left_col {
  width: 400px;
}

.profile_body__right_col {
  width: 610px;
}

.profile_body__right_col {
  margin-bottom: 90px;
  & h2 {
  color: $colorContent;
  font-size: 1.2em;
  font-style: inherit;
  line-height: 1.16667;
  font-weight: 500;
  letter-spacing: -0.01em;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-bottom: 22px;
  word-break: break-all;
}
}

.profile_recentWrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}