.Dashboard {
  padding: 24px 0;
}

.DashboardTitle {
  margin: 0 40px 24px;
  font-size: 24px;
  font-weight: 500;
  color: #172b4d;

  @media screen and (max-width: 479px) {
    margin: 0 15px 24px;
  }
}
