@import '../../theme/variables';

.Dashboard {
  padding: 24px 0;
}

.DashboardTitle {
  margin: 0 40px 24px;
  font-size: 24px;
  font-weight: 500;
  color: $colorContent;

  @media screen and (max-width: $mediaMobile) {
    margin: 0 15px 24px;
  }
}
