@import '../../../theme/variables.scss';

.footer_devsItem {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $colorContent;
  cursor: pointer;

  &:hover {
    color: $colorPrimary;
  }
}

.devName {
  font-weight: 500;
  margin-left: 10px;
}
