@import '../../theme/variables.scss';

.submenu_subtitle {
  color: $colorGreyText;
  font-weight: 600;
  padding: 0 30px;
  padding-top: 20px;
}

.submenu_itemsList {
    &:after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: $colorLightGrey;
    position: absolute;
    bottom: 60px;
  }
}

.submenuBottomNav {
  margin-top: 16px;
  padding: 20px 30px;
  color: $colorContent;
  cursor: pointer;

  &:hover {
    background-color: $colorLightGrey;
  }
}
.link {
  padding-left: 30px;
  line-height: 50px;
  cursor: pointer;
}

.itemsBlock__jira {
  padding-top: 20px;
  position: relative;
  &::before {
    content: "";
    width:100%;
    height: 2px;
    background-color: #ebecf0;
    position: absolute;
    top: 10px;
  }
}