@import '../../../../../theme/variables';

.ModalAddUser {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  padding: 16px;
  border-radius: 3px;
  background: $colorBackground;
  box-shadow: $boxShadow;
  transform: translate(-50%, -50%);
}

.ModalAddUser-input-wrapper {
  position: relative;
  border: none;

  &:last-child {
    display: flex;
    align-self: flex-end;
    gap: 5px;
  }
}

.ModalAddUser-input-search {
  padding: 10px 6px 10px 40px;
}

.ModalAddUser-search-icon-wrapper {
  position: absolute;
  top: 50%;
  right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-50%);
}

.ModalAddUser-user-avatar-wrapper {
  position: absolute;
  top: 50%;
  left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-50%);
}

.ModalAddUser-search-icon {
  font-size: 20px;
  color: $colorSecondaryText;
  cursor: text;
}

.ModalAddUser-user-avatar {
  width: 24px;
  height: 24px;
  font-size: 12px;
  cursor: text;
}

.ModalAddUser-title {
  font-size: 16px;
  font-weight: 500;
  color: $colorContent;
}

.ModalAddUser-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 12px;
}

.ModalAddUser-button-cancel {
  color: $colorButtonCancelText;
  background: $colorButtonCancelBackground;

  &:hover {
    background: $colorButtonCancelBackgroundHover;
  }
}

.ModalAddUser-user-icon {
  position: relative;
  right: 2px;
  width: 28px;
  height: 28px;
  color: $colorSecondaryText;
}

.ModalAddUser-preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: $colorProjectPreloaderContainerBackground;
  transform: translate(-50%, -50%);
}
