$colorContent: #172b4d;
$colorContentText: #344563;
$colorBackground: #FFFFFF;
$colorPrimary: #0052CC;
$colorSecondary: #3381f7;
$colorHoverBlue: #e8f1ff;
$shadowSubMenu: 0 4px 8px -2px rgba(9, 30, 66, 0.25), 0 0 1px rgba(9, 30, 66, 0.31);
$colorWhite: #ffffff;
$colorLightGrey: #ebecf0;
$colorGreyText: #42526E;

$minDesktopWidth: 1023px;
