@import '../../theme/variables.scss';

.ButtonsWrap {
  display: flex;
  padding-top: 20px;
}

.buttonReset {
  background-color: $colorWhite;
  color: $colorGreyText;
  margin-left: 5px;
  &:hover {
    background-color: $colorLightGrey;
  }
}

.visible {
  display: none;
}

.hidden {
  display: none;
}
