.Button {
  padding: 7px 10px;
  border: none;
  border-radius: 3px;
  font-weight: 500;
  color: #ffffff;
  background: #0052CC;
  cursor: pointer;

  &:hover {
    background: #0065FF;
  }
}

.Button:disabled {
  color: #A5ADBA;
  background: rgba(9, 30, 66, 0.04);
  cursor: not-allowed;
}
