@import "../../theme/variables";

.Button {
  padding: 7px 10px;
  border: none;
  border-radius: 3px;
  font-weight: 500;
  color: $colorButtonText;
  background: $colorButtonBackground;
  cursor: pointer;

  &:hover {
    background: $colorButtonBackgroundHover;
  }
}

.Button:disabled {
  color: $colorButtonTextDisabled;
  background: $colorButtonBackgroundDisabled;
  cursor: not-allowed;
}
