@import '../../../../../theme/variables.scss';

.comments-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.create-comment-block {
  display: flex;
  align-items: flex-start;
  position: sticky;
  top: 0;
  background-color: $colorBackground;
  z-index: 2;
  padding-bottom: 10px;
  border-bottom: 1px solid $colorLightGrey;
}

.avatar {
  margin: 5px;
}

.comment {
  width: 100%;

  &-banner {
    padding-left: 15px;
    transition: border-color ease-in 200ms;
    line-height: 40px;
    border: $colorLightGrey 1px solid;
    border-radius: 5px;
  
    &:hover {
      border-color: $colorBorder;
    }
  }
}

.sort-block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: $colorSecondary;
  margin-top: 10px;
  cursor: pointer;

  & > p {
    padding-right: 10px;
  }
}

.comment-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.loader {
  position: relative;
  height: 150px;
}
