@import '../../../../theme/variables';
@import '../../../../theme/mixins';

.item {
  position: relative;
}

.item-inner {
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color .3s ease;

  &:hover {
    background-color: $colorItemBackHover;
  }
}

.noted-star {
  color: $colorStarNotedActive;
}

.icon {
  width: 24px;
  height: 24px;

  &.task-icon {
    color: $colorTaskIcon;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 150px;
  white-space: nowrap;
}

.title,
.subtitle {
  text-overflow: ellipsis;
  overflow: hidden;
}

.title {
  font-size: 14px;
  font-weight: 700;
  color: $colorContent;
}

.subtitle {
  font-size: 11px;
  font-weight: 500;
  color: $colorItemInfo;
}

.preloader {
  z-index: 1;

  @include preloader-block();
}
