@import '../../../../../theme/variables';

.TeamTable-data-row {
  position: relative;

  &:hover {
    background: $colorInoutBackground;
  }
}

.TeamTable-data {
  padding: 12px 8px;
  font-size: 14px;
  font-weight: 400;
  color: $colorContent;
}

.TeamTable-remove {
  color: $colorPrimary;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.TeamTable-data-user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.TeamTable-user-avatar {
  flex: 0 0 auto;
  width: 30px;
  height: 30px;
}

.TeamTable-user-name,
.TeamTable-user-email {
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.TeamTable-row-preloader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: $colorProjectPreloaderContainerBackground;
  transform: translate(-50%, -50%);
}
