@import "../../../../theme/variables";

.submenu_line {
  display: flex;
  align-items: center;
  margin-top: 4px;
  padding: 0 30px;
  color: $colorContent;
  cursor: pointer;
  min-height: 40px;

  &:hover {
    background-color: $colorLightGrey;
  }
}

.submenu_itemDetails {
  display: flex;
  color: $colorGreyText;
  line-height: 20px;
  & span {
    font-size: 14px;
    opacity: 0.5;
  }
}

.submenu_texts {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.submenu_imgWrap {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  margin-right: 15px;
  min-width: 30px;
}

.submenu_imgWrap__round {
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
}

.starIcon {
  color: $colorGreyText;
  margin-left: auto;
  position: relative;
  top: 10px;
}

.lineTitleMarked {
  display: flex;
}

.checked {
  color: $colorWhite;
  display: block;
  margin: auto;
  height: 29px;
  width: 29px;
}