@import '../../theme/variables';

.App:has(.SingleProject) {
  display: flex;
}

.SingleProject {
  display: flex;
  flex: 1;

  @media screen and (max-width: $mediaTablet) {
    position: relative;
  }
}
