@import '../../theme/variables';

.App:has(.SingleProject) {
  display: flex;
}

.SingleProject {
  display: flex;
  width: 100%;

  .content {
    width: calc(100% - $widthAsideBarSingleProjectNormal);
    transition: all 0.25s ease;

    &.aside-hidden {
      width: calc(100% - $widthAsideBarSingleProjectHidden);
    }
  }

  @media screen and (max-width: $mediaTablet) {
    position: relative;
  }
}
