.taskItem {
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    background: rgba(9,30,66,0.04);
  }
}

.taskIcon {
  width: 24px;
  height: 24px;
  color: #4cade8;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.empty {
  flex: 0 0 40%;
}

.titleArea {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.taskTitle {
  font-size: 14px;
  font-weight: 700;
  color: #172B4D;
}

.taskAdditional {
  font-size: 11px;
  font-weight: 500;
  color: #6B778C;
}

.separator {
  padding: 0 7px;

  &:after {
    content: '-';
  }
}

.taskColumnTitle {
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  color: #6B778C;
}
