@import '../../../../theme/variables';
@import '../../../../theme/mixins';

.popup {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.title {
  font-size: 20px;
  display: flex;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  width: 300px;

  .user {
    background-color: $colorUserBackHover;
  }

  .form {
    width: 100%;
    position: relative;
  }

  .icon {
    font-size: 25px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
    display: flex;
    align-items: center;
  }

  .input {
    padding-right: 40px;
  }

  .loader {
    margin: 5px;
  }

  .user-list {
    position: absolute;
    border: 1px solid $colorBorder;
    background-color: $colorBackground;
    padding: 3px 0;
    width: 100%;
    bottom: -5px;
    transform: translate(0, 100%);
    border-radius: 5px;

    @include scrollbar-y($maxHeight: 300px);
  }

  .not-found {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
  }
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
