@import '../../../../../theme/variables.scss';

.column-list-container {
  overflow: auto;
  position: relative;
  max-height: calc(100vh - $headerHeight - $footerHeight - 24px - 54px - 120px);

  @media screen and (max-width: $mediaDesktopSmall) {
    max-height: calc(100vh - $headerHeight - $footerHeight - 24px - 54px - 166px);
  }
}

.column-list {
  display: flex;
  width: fit-content;
  min-width: 100%;

  .list {
    display: flex;
    gap: 12px;

    &-content {
      display: flex;
      flex-direction: column;

      &__row {
        display: flex;
      }
    }
  }

  .curtain {
    position: sticky;
    z-index: 16;
    width: 20px;
    background-color: $colorBackground;

    &.left {
      left: 0;
      box-shadow: 10px 0 15px -5px $colorBackgroundHover;
      margin-right: 20px;
    }

    &.right {
      right: 0;
      box-shadow: -10px 0 15px -5px $colorBackgroundHover;
      margin-left: 20px;
    }
  }

  .column-block {
    transition: padding ease .3s;
    height: 100%;
  }

  .btn-add-container {
    padding: 0 10px;
    position: relative;
    z-index: 15;
    margin-right: auto;
  }

  .btn-add {
    position: sticky;
    top: 0;
  }
}