@import '../../../../../theme/variables.scss';

.menu {
  position: relative;

  &__list {
    width: fit-content;
    font-size: 14px;
    border: 1px solid $colorBorder;
    border-radius: 5px;
    position: absolute;
    z-index: 5;
    background-color: $colorBackground;
    right: 0;
    bottom: -5px;
    transform: translate(0, 100%);
    padding: 3px 0;
  }

  &__option {
    padding: 8px 20px;
    white-space: nowrap;

    &:hover {
      cursor: pointer;
      background-color: $colorBackgroundColumn;
    }
  }
}