@import '../../theme/variables';

.NotFound {
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  transform: translate(-50%, -50%);
}

.NotFound-code {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  line-height: 0.8;
  font-size: 500px;
  color: $colorNotFoundCodeText;
  transform: translate(-50%, -50%);
  user-select: none;
}

.NotFound-title {
  font-size: 30px;
  color: $colorContent;
  user-select: none;
}
.NotFound-title,
.NotFound-link {
  position: relative;
  z-index: 2;
}
