
@import '../../theme/variables.scss';

.header_profileWrap {
  margin-left: auto;
  padding-left: 16px;
}

.header_profileInner {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  cursor: pointer;
    &:hover {
      background-color: $colorHoverBlue;
    }
}

.header_profileIcon {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: $colorSecondary;
  line-height: 30px;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
}
