
@import '../../../../../../../theme/variables.scss';

.taskDetails_detailsHeaderText {
  margin-top: 20px;
  padding: 15px 15px;
  border: $colorLightGrey 1px solid;
  border-radius: 5px;
  display: flex;
  align-items: center;
  color: $colorPrimary;
  &.taskDetails_detailsHeaderText__active {
    border-radius: 5px 5px 0 0;
  }
  &:hover {
    background-color: $colorLightGrey;
  }
  &:active {
    background-color: $colorHoverBlue;
    border: $colorSecondary;
    color: $colorSecondary;
    border: $colorLightGrey 1px solid;
  }
}

.taskDetails_currentStatusUl {
  padding-bottom: 20px;
}

.taskDetails_detailsHeaderText__bold {
  font-weight: 600;
  margin-right: 20px;
}

.taskDetails_detailsArrow {
  margin-left: 40%;
  transition: 200ms all ease-in;
  &.taskDetails_detailsArrow__active {
    transform: rotatez(180deg);
  }
}
