.Breadcrumbs {
  display: flex;
  gap: 8px;
}

.Breadcrumb {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
  color: #6b778c;

  &:hover {
    text-decoration: underline;
  }

  &:last-child:hover {
    text-decoration: none;
  }

  @media screen and (max-width: 479px) {
    font-size: 11px;
  }
}

.Divider {
  font-size: 14px;
  font-weight: 400;
  color: #6b778c;
}
