@import '../../../../theme/variables';

.InfoCards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 16px;
  background: $colorProjectsSectionBackground;
}

.Container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Subtitle {
  font-size: 14px;
  stroke-width: 500;
  color: $colorSecondaryText;
}
