@import '../../theme/variables.scss';

.modal {
  border: none;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  padding: 0;
  overflow: hidden;
  z-index: 1;
  margin: auto;
  margin-top: 40px;
}

.twenty {
  top: 10%;
}
