@import '../../../../../theme/variables';

$colorMarked: #6554c0;

.TeamTable-wrapper {
  overflow-x: auto;
}

.TeamTable-input-wrapper {
  position: relative;
  width: 300px;

  @media screen and (max-width: $mediaMobileMedium) {
    width: 240px;
  }
}

.TeamTable-search-icon-wrapper {
  position: absolute;
  top: 50%;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
}

.TeamTable-search-icon {
  font-size: 20px;
  color: $colorSecondaryText;
  cursor: text;
}

.TeamTable {
  width: 100%;
  margin-top: 16px;
  border-bottom: 2px solid #e6e6e6;
  border-spacing: 0;
}

.TeamTable-header {
  padding: 4px 8px;
  border-bottom: $borderAsideBar;
  font-size: 12px;
  font-weight: 500;
  text-align: left;
  color: $colorSecondaryText;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }

  &-name,
  &-email,
  &-role {
    width: 30%;
  }

  &-remove {
    width: 10%;
  }

  &-name {
    cursor: pointer;

    &:hover {
      background: $colorDropdownBackgroundHover;
    }
  }
}

.TeamTable-preloader-container {
  position: relative;
  top: 50%;
  left: 50%;
  padding: 50px 0;
  transform: translate(-50%);
}

.TeamTable-info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 16px;
}

.TeamTable-info-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 14px;
  color: $colorWhite;
  background: $colorMarked;
}

.TeamTable-info-message {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  color: $colorSecondaryText;
}

.TeamTable-info-message-marked {
  color: $colorMarked;
}
