@import '../../../../../theme/variables.scss';

h6 {
  color: $colorContent;
  font-size: 14px;
  margin-top: 20px;
}

.taskDetails_wrap {
  padding: 30px;
  display: flex;
  flex-direction:row;
  width: 1100px;
}

  .taskDetails_topLine {
    display: flex;
    align-items: center;
    position: relative;
  }

.taskDetails_col__right  {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-left: 15px;

  .taskDetails_topLine {
    margin-left: auto;
  }
}

.taskDetails_nav {
  padding: 5px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  color: $colorBorder;
  margin-left: 15px;
  transition: 200ms all ease-in;
  &:hover {
    cursor: pointer;
    background-color: $colorLightGrey;
  }
  &.stroke > * {
    stroke: $colorBorder;
  }
}

.taskDetails_col__left {
  width: 60%;
  max-height: 500px;
  overflow: scroll;
  padding-right: 20px;

  &::-webkit-scrollbar {
  width: 5px;
  height: 0;
}

/* Track */
  &::-webkit-scrollbar-track {
  background: $colorWhite;
}

/* Handle */
  &::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
  background: #555;
}

}

.taskDetails_topLine {
  padding-left: 10px;
}

.taskDetails_descr__title {
  padding-left: 10px;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.taskDetails_changeStatusBlock {
  max-width: 150px;
}

.taskDetails_changeStatusBtn {
  background-color: $colorPrimary;
  color: $colorWhite;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  display: flex;
  font-size: 16px;
  font-weight: 600;
  align-items: center;
  min-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
    &:hover {
      background-color: $colorSecondary;
    }
}

.taskDetails_currentStatusActive {
  padding-right: 5px;
}

.taskDetails_currentStatusLi {
  padding: 5px;
  padding: 10px 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: $colorGreyText;
  font-size: 14px;
    &:hover {
      background-color: $colorLightGrey;
    }
}

.submenu {
  position: absolute;
  z-index: 20;
}

.expandArrow {
  margin-left: auto;
}

.copy_input {
  display: none;
}

.copy_button {
  border: none;
  background-color: transparent;
  margin-left: 10px;
  height: 20px;
  position: relative;
  &:hover {
    cursor: pointer;
      &::after {
      display: block;
      position: absolute;
      left: 20px;
      top: 0;
      width: auto;
      font-size: 14px;
      color: $colorGreyText;
      z-index: 99;
      white-space: nowrap;
      content: 'Copy link';
    }
    .copy_icon {
      stroke: orange;
      fill: orange;
    }
  }
  &:active {
    cursor: pointer;
      &::after {
      display: block;
      position: absolute;
      left: 20px;
      top: 0;
      width: auto;
      font-size: 14px;
      color: $colorGreyText;
      z-index: 99;
      white-space: nowrap;
      content: 'Copied!';
    }
  }
}

.copy_icon {
  height: 100%;
  width: 20px;
  transition: 200ms all ease-in;
  position: relative;
}

