.Input {
  width: 100%;
  padding: 10px 6px;
  border: 2px solid #dfe1e6;
  border-radius: 3px;
  outline: none;
  font-size: 14px;
  color: #091e42;
  background-color: #fafbfc;
  transition: background-color 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s;

  &:hover {
    background-color: #EBECF0;
  }

  &:focus {
    border-color: #4C9AFF;
    background-color: transparent;
  }
}
