@import '../../../../theme/variables.scss';

.userInfo_wrap {
    color: $colorUserInfoText;
    margin-bottom: 90px;
}

.userInfo_row {
  display: flex;
  align-items: center;
  margin: 8px 0;
  position: relative;
}

.profile_icon {
  height: 30px;
  width: 30px;
}
.userInfo_warning {
  display: none;
  position: absolute;
  bottom: -50px;
  left: 30px;

}
.userInfo_email {
  & .profile_icon {
    width: 20px;
  }

  & span {
    margin-left: 20px;
  }

  &:hover {
    cursor: not-allowed;
    .userInfo_warning {
      display: block;
    }
  }
}
.userInfo_wrap h1 {
  color: $colorContent;
  font-size: 1.71429em;
  font-style: inherit;
  line-height: 1.16667;
  font-weight: 500;
  letter-spacing: -0.01em;
  margin-top: 90px;
  margin-bottom: 30px;
  margin-bottom: 22px;
  word-break: break-all;
}

.userInfo_wrap h2 {
  color: $colorContent;
  font-size: 1.2em;
  font-style: inherit;
  line-height: 1.16667;
  font-weight: 500;
  letter-spacing: -0.01em;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-bottom: 22px;
  word-break: break-all;
}

.userInfo_wrap h3 {
  font-size: 0.857143em;
  font-style: inherit;
  line-height: 1.33333;
  color: $colorUserInfoText;
  font-weight: 600;
  margin-top: 24px;
  margin-bottom: 16px;
  text-transform: uppercase;
  letter-spacing: normal;
}

.userInfo_warning__text {
  padding: 15px 30px;
}